/* 
General
    font-family: 'Inter', sans-serif;
Titles
    font-family: 'Space Grotesk', sans-serif;
Buttons
    font-family: 'Roboto Mono', monospace;
*/

html {
    font-size: 115%;
}

body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 810px) {
    html {
        font-size: 90%;
    }
}

/* ------------------
    Typography
   ------------------ */

h1,
h2,
h3,
p,
.h1,
.h2,
.h3,
.subtext,
a {
    color: #ffffff;
    margin: 0;
}

h1,
.h1,
h2,
.h2 {
    font-family: 'Space Grotesk', sans-serif;
}

h1, .h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2,
.h2,
h3,
.h3 {
    font-weight: 500;
}

h2, .h2 {
    font-size: 2.25rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.subtext {
    font-weight: 300;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    font-family: 'Roboto Mono', monospace;
}

.login-link {
    color: #545454;
    font-weight: 300;
    font-size: 0.75rem;
}

/* ----------------
    Layout 
   ---------------- */

.inv {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

/* 
header 
*/ 

header {
    background-color: #030052;

    padding: 1.5em;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    max-width: 3.6%;
    align-self: center;
}

nav {
    width: 38%;
    
    margin-right: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* the only reason why nav is a flex is to align the ul vertically */
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto 0;

    width: 100%;
}

.profile-section {
    width: 10%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-container {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.login-link {
    color: #ffffff;
}

.profile-icon {
    max-width: 30%;
}

@media (max-width: 810px) {
    .header-logo {
        max-width: 14%;
    }
    
    nav {        
        margin: 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        text-align: center;
    }

    .profile-section {
        flex-direction: column;
        justify-content: space-evenly;

        width: 15%;
    }

    .login-container {
        width: 100%;
        text-align: center;
    }

    .profile-icon {
        align-self: center;

        max-width: 50%;
    }
}


/*
main
*/

main {
    background-color: #004BBD;
}

main .container {
    width: 90%;
    padding: 13% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-part {
    width: 40%;
}

.main-part p {
    font-size: 4em;
}

.lower-main-part {
    display: flex;   
    align-items: center;

    margin-top: 3em;
}

.lower-main-part form {
    margin-right: 2em;

    height: 100%;
}

.lower-main-part button {
    width: 100%;
    height: 100%;

    font-weight: 600;
    font-size: 1.25rem;

    padding: 0.5em 3em;

    background-color: #ffffff;
}

.lower-main-part button:hover {
    background-color: red;
    color: #ffffff;
} /* the size of the button here works on a cascading way: the button element is the size of the form element. The form has auto width, but the height is the size of the div. The div has auto height. This way, the form structure can exist while the button's size depends only of the size of the letters inside it. */


.movie-showcase {
    width: 50%;
}

.movie-showcase p {
    background-color: hsla(0, 0%, 0%, 0.35); /* i used the hsla format to change the background's opacity */

    transform: translateY(-1.7rem);

    display: block;

    padding: 0 0.5em;
    margin-bottom: -1.7rem; /* this margin makes the white space bellow the text disapear */

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-horizontal-poster {
    width: 100%;
}

@media(max-width: 810px) {
    main .container {
        flex-direction: column;
        align-items: center;
    }

    .main-part, .movie-showcase {
        width: 100%;
    }

    .main-part {
        margin: 13em 0;
    }
}

/* 
main - explore
*/

.movie-row {
    padding: 0.5em;
}

.movie-row ul {
    display: flex;
    justify-content: space-between;

    padding: 0.5em;
}

.movie-row li {
    width: 15%;
}

.movie-card {
    width: 100%;
}

.movie-vertical-poster {
    max-width: 100%;
}

.movie-card-bar {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.play-button, .my-list-button {
    width: 20%;
}

.play-button img, .my-list-button img {
    width: 100%;
}

/* 
footer
*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #000436;
}

footer ul {
    width: 8%;

    margin: 0;

    display: flex;
    justify-content: space-between;
}

footer li {
    width: 20%;
}

footer ul img {
    width: 100%;
}

.footer-logo {
    width: 8%;
    padding: 0.7em;

}

.footer-logo img {
    width: 40%;

    display: block;
    margin: 0 auto;
}

.copyright {
    font-size: 0.6rem;
    
    text-align: center;
}

@media(max-width: 810px) {
    .footer-logo {
        width: 40%;
        padding: 0.3em;
    }

    footer ul {
        width: 40%;

        justify-content: space-around;
    }

    .copyright {
        font-size: 0.5rem;
    }
}