/* 
General
    font-family: 'Inter', sans-serif;
Titles
    font-family: 'Space Grotesk', sans-serif;
Buttons
    font-family: 'Roboto Mono', monospace;
*/

html {
    font-size: 115%;
}

body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;


}


/* ------------------
    Typography
   ------------------ */

h1,
h2,
h3,
p,
.h1,
.h2,
.h3,
.subtext,
a {
    color: #ffffff;
    margin: 0;
}

h1,
.h1,
h2,
.h2 {
    font-family: 'Space Grotesk', sans-serif;
}

/* put the sizes on the typography */

h1, .h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2,
.h2,
h3,
.h3 {
    font-weight: 500;
}

h2, .h2 {
    font-size: 2.25rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.subtext {
    color: #545454;
    font-weight: 300;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
}

/* ----------------
    Layout 
   ---------------- */

.inv {
    display: none;
}

.logo {
    max-width: 3.6%;
    align-self: center;
}

.login-link {
    color: #545454;
    font-weight: 300;
    font-size: 0.75rem;
}
/* I don't know if I should put the subtext class in the html or to change the login-link class itself. Changing the html to fix the style don't seem right, seems to break the separation of concerns rule  */

ul {
    list-style: none;
    padding: 0;
}


/* 
header 
*/ 

header {
    background-color: #030052;

    padding: 1.5em;

    display: flex;
    justify-content: space-between;
}

nav {
    width: 38%;
    
    margin-right: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* the only reason why nav is a flex is to align the ul vertically */
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto 0;

    width: 100%;
}

.profile-section {
    width: 10%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-container {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.login-link {
    color: #ffffff;
}

.profile-icon {
    max-width: 30%;
}

@media (max-width: 810px) {
    .logo {
        max-width: 14%;
    }
    
    nav {        
        margin: 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        text-align: center;
    }

    .profile-section {
        flex-direction: column;
        justify-content: space-evenly;

        width: 15%;
    }

    .login-container {
        width: 100%;
        text-align: center;
    }

    .profile-icon {
        align-self: center;

        max-width: 50%;
    }
}


/*
main 
*/

main {
    background-color: #004BBD;
}

main .container {
    width: 90%;
    padding: 13% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-part {
    width: 40%;
}

.lower-main-part {
    display: flex;   
    align-items: center;

    height: auto;

    margin-top: 4%;
}

.lower-main-part form {
    margin-right: 2em;

    height: 100%;
}

.lower-main-part button {
    width: 100%;
    height: 100%;

    font-weight: 600;

    padding: 0.5em 3em;

    background-color: #ffffff;
}
/* the size of the button here works on a cascading way: the button element is the size of the form element. The form has auto width, but the height is the size of the div. The div has auto height. This way, the form structure can exist while the button's size depends only of the size of the letters inside it. */


.movie-showcase {
    width: 50%;

    text-align: end;
}

.movie-showcase p {
    -webkit-text-stroke: 1.5px black;

    margin-top: -1.4em;
    margin-right: 8rem;
}

.movie-horizontal-poster {
    max-width: 100%;
}


/* 
footer
*/

footer ul img {
    width: 2%;
}